body{
    padding-top: 90px;
    margin:0px;
}

.left-border{
    border-left: 2px solid darkblue;
}

.margens{
    padding-left: 20px;
}

.header{
    height:40px;
    background-color: black;
    margin-bottom: 10px;
    margin-left:0px;
    margin-right:0px;
}

.sidebar{
    padding-top: 40px;
    position: fixed;
    left: 0px;
    top: 50px;
    bottom:0px;
    display: block;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.espaco-esquerda{
    padding-left: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.fundo{
    position: absolute;
    bottom: 20px;
    right:20px;
}

.erro{
    border-left: 3px solid #a94442; /* red */
}

.infoErro{
    font-size: smaller;
    color: #a94442;
    font-weight: bolder; 
}